.root__body {
  margin: 0 auto;
}

.page {
  min-height: 100dvh;
}

.game-title {
  border: none;
  background-color: white;
  padding: 0;
  font: inherit;
  font-size: large;
  font-weight: bold;
}

.scoreboard {
  display: flex;
  gap: 1em;
}

.scoreboard__score {
  display: flex;
  gap: 0.3em;
}

.game__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.game__card {
  display: flex;
  flex: 0 1 0;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 30%);
  padding: 1em;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}
