.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  border: none;
  background-color: transparent;
  padding: 0;
  font: inherit;
  font-weight: 1000;
}

.game-title__main {
  margin: 0;
  color: white;
  font-size: 4rem;
  -webkit-text-stroke: red 0.04em;
}

.game-title__sub {
  margin: -0.5em 0 1em;
  color: white;
  font-size: 2rem;
  -webkit-text-stroke: #212121 0.04em;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  -webkit-text-stroke: purple 1px;
  color: white;
  font-size: 2rem;
  font-weight: 1000;
}

.scoreboard__score {
  display: flex;
  gap: 0.3em;
}
